@CHARSET "UTF-8";

header{
    width: 100%;
    height: 141px;
    margin: 0;
    background-color: #FFFFFF;
    font-family: roboto,sans-serif;
}

header.generic_header{
    width: 100%;
    height: 50px;
    background: #FF9A00;
    background:    -moz-linear-gradient(top,  #FF9A00 0%, #FF8100 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF9A00), color-stop(100%,#FF8100));
    background: -webkit-linear-gradient(top,  #FF9A00 0%,#FF8100 100%);
    background:      -o-linear-gradient(top,  #FF9A00 0%,#FF8100 100%);
    background:     -ms-linear-gradient(top,  #FF9A00 0%,#FF8100 100%);
    background:         linear-gradient(to bottom,  #FF9A00 0%,#FF8100 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9a00', endColorstr='#ff8100',GradientType=0);
}

header.generic_header > div{
    width: 950px;
    height: 50px;
    margin: auto;
}

header.generic_header > div > .title{
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    width: auto;
    height: 20px;
    margin-top: 10px;
    margin-right: 30px;
    padding: 5px;
    color: #FDFDFD;
    background-color: #030303;
}

section#header_bar1{
    height: 64px;
    padding: 16px 15px;
    border-bottom: 1px solid #F2F2F2;
}

section#header_bar2{
    width: 100%;
    height: 45px;
    background-color: #EFEFEF;
}
section#header_bar2 > nav{
    font-size: 14px;
    font-weight: 600;
    max-width: 950px;
    margin: auto;
}
section#header_bar2 > nav a{
    color: #999999;
    line-height: 1;
    padding: 1em 1.1em;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all 0.1s ease 0s;
       -moz-transition: all 0.1s ease 0s;
        -ms-transition: all 0.1s ease 0s;
         -o-transition: all 0.1s ease 0s;
            transition: all 0.1s ease 0s;
}
section#header_bar2 > nav a:hover, #header_bar2 > nav a.active{
    color: #474747;
    border-bottom: 2px solid #FF6D28;
}

#header_bar1_left{
    float: left;
}

#header_bar1_right > div{
    float: right;
    height: 38px;
    margin-top: 13px;
}


#header_top_logo{
    height: 64px;
}

#header_top_logo2{
    position: absolute;
    height: 54px;
    bottom: 6px;
    left: 6px;
    display: none;
}

#header_top_logo3{
    position: absolute;
    height: 28px;
    left: 0;
    right: 40px;
    top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: none;
}

#header_top_logo4{
    height: 80px;
    margin-top:30px;
}

#header_user > div{
    position: relative;
    height: 100%;
    min-width: 38px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
       -moz-border-radius: 10em;
    -webkit-border-radius: 10em;
    -khtml-border-radius: 10em;
            border-radius: 10em;
}

#header_user > div > a > span{
    color: #414140;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    font-decoration: none;
    padding: 5px 44px 0 14px;
    float: right;
    max-width:80px;
}

.header_user_img1 {
	position:absolute;
	top:1px;
    right: 1px;
    width: 36px;
}

.header_user_img2 {
	position:absolute;
	top:2px;
    right: 2px;
    width: 34px;
	height: 34px;
	-moz-border-radius: 10em;
	-webkit-border-radius: 10em;
	border-radius: 10em;
}

#header_language > div{
    position: relative;
    height: 100%;
    width: 38px;
    margin: 0 10px;
    border: 1px solid #CCCCCC;
       -moz-border-radius: 10em;
    -webkit-border-radius: 10em;
    -khtml-border-radius: 10em;
            border-radius: 10em;
}

#header_language > div > img{
    position: absolute;
    top: 2px;
    right: 2px;
    width: 34px;
    height: 34px;
}


#header_search{
    position: relative;
}

#header_search > form > img{
    position: absolute;
    top: 4px;
    right: 10px;
    width: 23px;
    height: 30px;
}

#header_search_input{
    width: 80px;
    height: 38px;
    line-height: 38px;
    font-size: 15px;
    padding: 0 34px 0 10px;
    float: right;
    border: 1px solid #CCCCCC;
       -moz-border-radius: 10em;
    -webkit-border-radius: 10em;
    -khtml-border-radius: 10em;
            border-radius: 10em;
}


#header_drawer{
    position: fixed;
    width: 235px;
    background: #2C2C2C;
    height: 100%;
    color: #FFFFFF;
    left: -235px;
    z-index: 6000;
    overflow: auto;
         -o-transition: left 0.15s ease-out 0s;
        -ms-transition: left 0.15s ease-out 0s;
       -moz-transition: left 0.15s ease-out 0s;
    -webkit-transition: left 0.15s ease-out 0s;
            transition: left 0.15s ease-out 0s;
    display: block;
}

#header_drawer.active{
    left: 0;
}

#header_drawer *{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

#header_drawer > div{
    width: 100%;
    overflow: hidden;
}

#header_drawer .drawer_entries{
    width: 100%;
    margin-top: 30px;
}

#header_drawer .drawer_entries > a{
    text-decoration: none;
    width: 100%;
    color: #FFFFFF;
    display: block;
}

#header_drawer .drawer_entries > a > div{
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    vertical-align: middle;
    padding-left: 14px;
    border-bottom: #2C2C2C solid 2px;
    background-color: #232323;
}

#header_drawer .drawer_entries > a > div:hover{
    background: #000000;
}

div[data-drawer-sub-indicator], div[data-drawer-sub-indicator='down']{
    float: right;
    margin-top: 16px;
    margin-right: 10px;
    text-align: right;
    width: 18px;
    height: 11px;
    background: url(../images/header/drawer_menu_ind.png);
    background-repeat: no-repeat;
    background-size: 15px 22px;
    background-position: top;
}

div[data-drawer-sub-indicator='up']{
    background-position: bottom;
}

#header_drawer .drawer_entries > a[data-drawer-submenu] > div{
    width: 100%;
    height: 0;
    line-height: 42px;
    font-size: 14px;
    border-bottom: none;
         -o-transition: height 0.25s ease-out 0s;
        -ms-transition: height 0.25s ease-out 0s;
       -moz-transition: height 0.25s ease-out 0s;
    -webkit-transition: height 0.25s ease-out 0s;
            transition: height 0.25s ease-out 0s;
    overflow: hidden;
    padding-left: 28px;
}

#header_drawer .drawer_entries > a[data-drawer-submenu][data-drawer-submenu-active] > div{
    background: #000000;
    color: #FF8000;
}

#header_drawer .drawer_entries > a[data-drawer-submenu].open > div{
    height: 42px;
}


.header_dropdown{
    position: absolute;
    top: 60px;
    right: -22px;
    z-index: 6000;
    width: 176px;
    text-align: left;
    background-color: #FFFFFF;
    -webkit-box-shadow: 3px 1px 16px 0 rgba(0,0,0,0.2);
       -moz-box-shadow: 3px 1px 16px 0 rgba(0,0,0,0.2);
            box-shadow: 3px 1px 16px 0 rgba(0,0,0,0.2);
       -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
            border-radius: 6px;
}

.header_dropdown:after, .header_dropdown:before{
    bottom: 100%;
    right: 27px;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.header_dropdown:after{
    border-width: 15px;
    margin-left: -20px;
}
.header_dropdown.white:after{
    border-bottom-color: #FFFFFF;
}
.header_dropdown.orange:after{
    border-bottom-color: #FF6D28;
}
.header_dropdown:before{
    border-width: 19px;
    margin-left: -24px;
}

.header_dropdown > div > .header_dropdown_title{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    display: block;
    height: 20px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF6D28;
    padding: 10px;
    max-height: 41px;
    overflow: hidden;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
}

.header_dropdown > a > img {
	margin: 5px 10px;
}

.header_dropdown > div > a{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    display: block;
    height: 20px;
    text-decoration: none;
    color: #797979;
    padding: 10px;
}

.header_dropdown > a{
    text-decoration: none;
}

.header_dropdown > div > a:last-child{
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
}

.header_dropdown > div > a:not(:last-child){
    border-bottom: 1px solid #CCCCCC;
}

.header_dropdown > div > a:hover{
    background-color: #EFEFEF;
}


#drawer_container{
    position: absolute;
    top: 18px;
}
.btn.drawer{
    padding: 13px;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    background-color: #FFFFFF;
}

.btn.drawer .drawer_inner, .btn.drawer .drawer_inner::before, .btn.drawer .drawer_inner::after{
    width: 30px;
    height: 4px;
    position: absolute;
    left: 0;
    transition-property: -webkit-transform;
    transition-property:         transform;
    transition-property:         transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    background-color: #FF6D28;
}

.btn.drawer .drawer_inner::before, .btn.drawer .drawer_inner::after{
    content: '';
    display: block;
}

.btn.drawer .drawer_inner::before{
    top: -8px;
}

.btn.drawer .drawer_inner{
    top: auto;
    bottom: 0;
    transition-duration: 0.15s;
    transition-delay: 0.15s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.btn.drawer .drawer_inner::after{
    top: -16px;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.btn.drawer .drawer_inner::before{
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.btn.drawer.active .drawer_inner{
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
            transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.32s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn.drawer.active .drawer_inner::after{
    top: 0;
    opacity: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}

.btn.drawer.active .drawer_inner::before{
    top: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media only screen and (max-width: 480px){
    #header_language{
        display: none;
    }

    #header_search{
        right: 56px !important;
    }

    #header_top_logo3{
        left: 76px;
        margin-left: 0;
    }

    #drawer_languages{
        display: inline !important;
    }
}

@media only screen and (max-width: 650px){
    #header01{
        height: 68px;
        position: fixed;
        z-index: 6000;
    }

    .top_header_padding{
        height: 68px;
        width: 100%;
    }

    section#header_bar1{
        height: 36px;
    }

    section#header_bar2{
        display: none;
    }

    #header_bar1_right > div{
        height: 29px;
        margin-top: 3px;
    }

    #header_user > div > a > span{
        display: none;
    }

    #header_user > div > a > img{
        right: 1px;
        top: -1px;
    }

    #header_user > div > img, #header_language > div > img{
        right: 1px;
        top: 1px;
    }

    #header_user > div, #header_language > div{
        min-width: 29px;
        width: 29px;
    }

    #header_user > div > a > img, #header_user > div > img, #header_language > div > img{
        width: 27px;
        height: 27px;
    }

    #header_search{
        position: absolute;
        right: 99px;
    }

    #header_search > form > img{
        top: 5px;
        right: 6px;
        width: 20px;
        height: 20px;
    }

    #header_search_input{
        width: 0;
        height: 29px;
        line-height: 29px;
        padding: 0 29px 0 0;
    }

    #header_top_logo{
        display: none;
    }

    #header_top_logo3{
        display: inline;
    }

    .header_dropdown{
        top: 50px;
        right: -10px;
    }

    .header_dropdown:after, .header_dropdown:before{
        right: 10px;
    }

    .drawer{
        display: inline !important;
    }
}