.minict_wrapper {
    font-family: "Segoe UI", Segoe, "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    color: #333;
    background: #fff;
    position: relative;
    height: 1.9rem !important;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 0 !important;
    cursor: hand;
    display: inline-block !important;

}
.minict_wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.minict_wrapper.disabled {
    background: #f5f5f5;
    text-shadow: 0 1px 0 #fff;
}
.minict_wrapper.disabled span {
    color: #bbb !important;
}
.minict_wrapper:after {
    color: #555;
    content: "▼";
    cursor: pointer;
    display: block;
    font-size: 0.6rem;
    height: 1.9rem;
    line-height: 1.7rem;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 1.9rem;
}
.minict_wrapper.active:after {
    content: "\25B2";
    color: #555;
    cursor: pointer;
    display: block;
    font-size: 0.6rem;
    height: 1.9rem;
    line-height: 1.7rem;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 1.9rem;
}
.minict_wrapper.disabled:after {
    color: #bbb;
}
.minict_wrapper span {
    border: 0;
    outline: none;
    background: none;
    font-family: "Segoe UI", Segoe, "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 0.8rem;
    height: 2.0rem;
    line-height: 1.5rem;
    padding: 4px 3.4rem 0 0.4rem;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.minict_wrapper span:empty:before {
    content: attr(data-placeholder);
    color: #ccc;
    line-height: 1.5rem;
}
.minict_wrapper ul {
    display: none;
    list-style: none;
    padding: 0;
    margin-top: -5px;
    position: absolute;
    width: 100%;
    width: -webkit-calc(100% + 2px);
    width: -moz-calc(100% + 2px);
    width: calc(100% + 2px);
    border: 1px solid #e5e5e5;
    border-top: 1px solid #f9f9f9;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    top: 2.0rem;
    left: 0;
    max-height: 15rem;
    overflow-y: auto;
    z-index: 998;
}
.minict_wrapper ul li {
    list-style: none;
    font-size: 0.8rem;
    padding: 0 2px;
    cursor: pointer;
    background: #fff;
    height: 2.0rem;
    line-height: 1.8rem;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.minict_wrapper ul li:hover {
    background: #fcfcfc;
    color: #111;
}
.minict_wrapper ul li.minict_group {
    color: #444;
    background: #f6f6f6;
    font-weight: bold;
    cursor: default;
}
.minict_wrapper ul li.minict_empty {
    display: none;
    background: #fff !important;
    color: #bbb;
    text-align: center;
    font-size: 0.9rem;
    height: 3.5rem;
    line-height: 3.3rem;
}
.minict_wrapper ul li.disabled {
    cursor: default;
    background: #fff !important;
    color: #bbb;
}
.minict_wrapper ul li.selected {
    color: #819a9a;
    background: #f8f9f9;
}
.minict_wrapper ul li.highlighted {
    color: #fff;
    background: #819a9a;
}
.minict_wrapper ul li.hidden {
    display: none;
}
.minict_wrapper .minict_reset {
    color: #A9A9A9;
    bottom: 0;
    display: none;
    font-size: 1.1rem;
    line-height: 1.9rem;
    position: absolute;
    right: 2.2rem;
    text-align: center;
    top: 0;
    text-decoration: none;
    width: 1.2rem;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.minict_wrapper .minict_reset:hover {
    color: #e0e0e0;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.minict_wrapper .minict_reset:active {
    color: #636363;
}
.minict_wrapper.disabled .minict_reset {
    display: none;
}